<div id="home" class="header-hero bg_cover d-lg-flex align-items-center">
    <div class="shape shape-1"></div>
    <div class="shape shape-2"></div>
    <div class="shape shape-3"></div>
    <div class="shape shape-4"></div>
    <div class="shape shape-5"></div>
    <div class="shape shape-6"></div>
    <div class="container">
        <div class="row align-items-center justify-content-center justify-content-lg-between">
            <div class="col-lg-6 col-md-10">
                <div class="header-hero-content">
                    <h3 class="header-title wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                        The day of life starts from here
                        <br> <span> Siyou Technology </span>
                    </h3>
                    <p class="text wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.6s">
                        Siyou Technology products and services for the automation of points of sale,
                        retail businesses organised distribution, franchised store chains and
                        public businesses.
                    </p>
                    <ul class="d-flex">
                        <li><a href="https://www.youtube.com/channel/UCulqFXTEqddVxv5gVUCGxVQ"
                                class="main-btn wow fadeInLeftBig" data-wow-duration="1.3s"
                                data-wow-delay="0.8s">Subscribe Now</a>
                        </li>
                        <li><a href="https://www.youtube.com/watch?v=cQ2nnbhDFIMM"
                                class="header-video video-popup wow fadeInLeftBig" data-wow-duration="1.3s"
                                data-wow-delay="1.2s">
                                <i class="lni lni-play"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-10">
                <div class="header-image">
                    <img src="assets/images/phone-img.png" alt="app" class="image wow fadeInRightBig"
                        data-wow-duration="1.3s" data-wow-delay="0.5s">

                    <div class="image-shape wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.8s">
                        <img src="assets/images/image-shape.svg" alt="shape">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-shape-1 d-none d-md-block"></div>
    <div class="header-shape-2">
        <img src="assets/images/header-shape-2.svg" alt="shape">
    </div>
</div>