
table {
    width: 100%;
  }
  .my-card
  {
      position:absolute;
      left:40%;
      top:-20px;
      border-radius:50%;
  }
    
  .add_button{
      color:#2E7D32;
  }
  .update_button{
    color: #01579B;
  }