h2 {
  font-size: 15px;
  font-family: Roboto;
}
.dialog-container {
  display: flex;
  flex-direction: column;
  .formContainer {
    flex: 1;
    form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1em;
      .infoDetail {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .inputsContainer {
        margin-top: 10px;
      }
      mat-form-field {
        width: 100%;
      }
      .uploadImage {
        #imageBtn {
          margin-top: 15px;
          margin-left: 8px;
          .uploadIconContainer {
            display: flex;
            justify-content: center;
            border-radius: 50%;
            padding: 8px;
            &:hover {
              cursor: pointer;
            }
          }
        }
        display: flex;
        flex-direction: row-reverse;
      }
      .groupInput {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        mat-form-field {
          width: 48%;
        }
      }
    }
  }
}
.addProductModal {
  height: 100%;
  mat-dialog-container {
    margin: 10px;
  }
}
.buttomActionContainer {
  align-content: flex-end;
  display: flex;
  flex-direction: row;
  .closeButton {
    margin-right: auto;
  }
}
