  <!-- === Our Interlocutors === -->
  <section id="features" class="features-area pt-110" style="margin-top: 50px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section-title text-center pb-25">
            <h3 class="title">Our Interlocutors</h3>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod impedit voluptatum delectus reprehenderit autem porro suscipit exercitationem tenetur architecto?
               Cumque repudiandae, aliquid omnis fugiat dolores ea. Eos rem esse voluptates!.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="features-items">
            <div class="single-features features-color-1 d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s"
              data-wow-delay="0.2s">
              <img src="assets/images/clients/01.PNG" alt="HAIRDRESSING SALONS, BEAUTY AND WELLNESS CENTER">
              <div class="features-content media-body">
                <h4 class="features-title">HAIRDRESSING SALONS, BEAUTY AND WELLNESS CENTER</h4>
                <p class="text">Lorem ipsum dolor sit ametco snsetetur sadipscing elitr sed diam nonumy eirmod.</p>
              </div>
            </div>
            <div class="single-features features-color-2 d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s"
              data-wow-delay="0.4s">

              <img src="assets/images/clients/02.PNG" alt="HOTELS, PENSIONS AND BED <br> & BREAKFAST">

              <div class="features-content media-body">
                <h4 class="features-title">HOTELS, PENSIONS AND BED <br> & BREAKFAST</h4>
                <p class="text">Lorem ipsum dolor sit ametco snsetetur sadipscing elitr sed diam nonumy eirmod.</p>
              </div>
            </div>
            <div class="single-features features-color-3 d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s"
              data-wow-delay="0.6s">

              <img src="assets/images/clients/03.PNG"
                alt=" MECHANICAL WORKSHOPS, BODY SHOPS, TIRE DEALER & ELECTRICIANS">

              <div class="features-content media-body">
                <h4 class="features-title"> MECHANICAL WORKSHOPS, BODY SHOPS, TIRE DEALERS <br> & ELECTRICIANS</h4>
                <p class="text">Lorem ipsum dolor sit ametco snsetetur sadipscing elitr sed diam nonumy eirmod.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="features-items">
            <div class="single-features features-color-1 d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s"
              data-wow-delay="0.2s">

              <img src="assets/images/clients/04.PNG" alt="FARMS">

              <div class="features-content media-body">
                <h4 class="features-title">FARMS</h4>
                <p class="text">Lorem ipsum dolor sit ametco snsetetur sadipscing elitr sed diam nonumy eirmod.</p>
              </div>
            </div>
            <div class="single-features features-color-2 d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s"
              data-wow-delay="0.4s">

              <img src="assets/images/clients/05.PNG" alt="BARS AND RESTAURANTS">

              <div class="features-content media-body">
                <h4 class="features-title">BARS AND RESTAURANTS</h4>
                <p class="text">Lorem ipsum dolor sit ametco snsetetur sadipscing elitr sed diam nonumy eirmod.</p>
              </div>
            </div>
            <div class="single-features features-color-3 d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s"
              data-wow-delay="0.6s">

              <img src="assets/images/clients/06.PNG" alt="RETAIL">

              <div class="features-content media-body">
                <h4 class="features-title">RETAIL</h4>
                <p class="text">Lorem ipsum dolor sit ametco snsetetur sadipscing elitr sed diam nonumy eirmod.</p>
              </div>
            </div>
          </div>
          <br><br>
        </div>
      </div>
    </div>
  </section>
