
<!-- === contact === -->
<section id="contact" class="contact_area pt-70 pb-120">
    <div class="contact_image d-flex align-items-center justify-content-end">
      <div id="map-container-google-1" class="z-depth-1-half map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2810.544311472088!2d9.36022361494854!3d45.21655595795555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47872aa09d8c8785%3A0xead100633c9bd388!2sSiyou%20Technology%20Srl!5e0!3m2!1sfr!2stn!4v1610365019035!5m2!1sfr!2stn"
          width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0">
        </iframe>
      </div>
    </div> <!-- about image -->
    
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="contact_wrapper mt-45 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">
                    <div class="section_title pb-15">
                        <h4 class="main_title">Contact Us</h4>
                        <br>
                        <p>
                          Siyou has independent branches in <b>Italy</b>, <b>Germany</b> and <b>Tunisia</b>.
                          Italy is mainly the first stage of market practices: since July 2019.
                          Many stores have already joined us and we are waiting for you.
                        </p>
                    </div> <!-- section title -->
                    
                    <div class="contact_form">
                        <form id="contact-form" action="assets/contact.php">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_form">
                                        <input name="name" type="text" placeholder="Name">
                                    </div> <!-- single form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="single_form">
                                        <input name="email" type="email" placeholder="Email">
                                    </div> <!-- single form -->
                                </div>
                                <div class="col-md-12">
                                    <div class="single_form">
                                        <textarea name="message" placeholder="Message"></textarea>
                                    </div> <!-- single form -->
                                </div>
                                <p class="form-message"></p>
                                <div class="col-md-12">
                                    <div class="single_form">
                                        <button class="main-btn">Submit</button>
                                    </div> <!-- single form -->
                                </div>
                            </div> <!-- row -->
                        </form>
                    </div> <!-- contact form -->
                </div> <!-- contact wrapper -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>