  


.mainContainer{
    margin-top: 100px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    
}

mat-form-field{
    width: 100%;
}

.titlePage{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

mat-divider{
    margin-bottom: 20px;
}