<link rel="stylesheet"  type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container " style="margin-top: 70px;">
    <div class="card shadow-lg p-3 mb-4 bg-white rounded mx-auto d-block" style="width: 30rem;">
        <form style="width: 30rem;">
            <div class="row">
                <h2 class="ml-3">
                    Your Balance:
                       
                </h2>
                <h2 class="ml-3" style="color:red">
                    12870.00$
                    
                          
                </h2>
 
            </div>
           
            
            </form>

    </div>
    <form style="width: 30rem;" class="mx-auto d-block">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded ">
            <div class="form-group">
                <h3>Payment Details</h3>
                <hr>
                <div class="form-group">
                <label for="" class="font-weight-bold">NAME ON CARD</label>

                <div class="input-group">
                    <input type="text" name="card_number" placeholder="Name on card" class="form-control">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                </div>
            </div>


                <label for="" class="font-weight-bold">CARD NUMBER</label>

                <div class="input-group">
                    <input type="text" name="card_number" placeholder="Card Number" class="form-control">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                </div>
                
               

               
            </div>

            <div class="form-group">
                

                    <label for="" class="font-weight-bold">EXPIRY DATE</label>
                    <div class="row">
                        <div class="input-group">


                            <input type="text" name="card_number" placeholder="MM" class="form-control col-sm-2 mr-3 ml-3">
                            <input type="text" name="card_number" placeholder="YY" class="form-control col-sm-2 mr-3">
                            <input type="text" name="card_number" placeholder="CV CODE" class="form-control col-sm-3">
                        </div>
                </div>

              

                <div class="form-grou">
                  <button type="button" name="" id="" class="btn btn-primary btn-block mt-4" >Final Payment:
                      <span><i class="fas fa-dollar-sign"></i> 4200$</span>
                  </button> 
                  
                  <button type="button" class="btn btn-success btn-block">PAY</button>
                </div>
                   
                    

                

            </div>
        </div>
    </form>
</div>