<div class=" mainContainer rounded pb-8">
 

    
  <div >


  
  <!-- <p style="margin-top: 100px;">Discounted Products:</p> -->

  <div >


    <mat-form-field class="filterclass" style="width: 25%;">
      <mat-label>{{'filter' | translate}}</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. Smartphone">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="table1 " matSort>

    
  
  
  
      <!-- Position Column -->
      <ng-container matColumnDef="product_image_url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'prod_imgg' | translate}}  </th>
        <!-- <td mat-cell *matCellDef="let element"> {{element.images.image_url}} </td> -->
        <td mat-cell *matCellDef="let element"> 
        
            <img [src]="element.product_image_url" alt="" class="imgtable1"> 
  
          
          
        
        </td>
      </ng-container>
    
      <!-- Name Column -->
  
      
      <ng-container matColumnDef="product_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Product-Name'| translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.product_name | slice:0:30}}</td>
      </ng-container>


      <ng-container matColumnDef="product_description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Product-Description'| translate}}  </th>
        <td mat-cell *matCellDef="let element"> {{element.product_description | slice:0:40}}</td>
      </ng-container>
    
    
      <!-- Weight Column -->
     
  
       <!-- <td mat-cell *matCellDef="let element"> {{element.images.image_url}} </td> -->
       <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Supplier'| translate}}</th>
       <td mat-cell *matCellDef="let element">  
        {{element.supplier.first_name}}  {{element.supplier.last_name}} 
          
        
        </td>
      </ng-container>


      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Email'| translate}} </th>
        <td mat-cell *matCellDef="let element" > {{element.supplier.email}} </td>
      </ng-container>
  

  
       <!-- <td mat-cell *matCellDef="let element"> {{element.images.image_url}} </td> -->
       <ng-container matColumnDef="brand_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'brand' | translate}} </th>
        <td mat-cell *matCellDef="let element" > {{element.brand.brand_name}} </td>
      </ng-container>
  
       <!-- <td mat-cell *matCellDef="let element"> {{element.images.image_url}} </td> -->
       <ng-container matColumnDef="category_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Category'| translate}} </th>
       <td mat-cell *matCellDef="let element"> 
        
        {{element.category.category_name}}
        
        </td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Actions'| translate}} </th>
     <td mat-cell *matCellDef="let element"> 
<!-- 
      <button routerLink="/shop/shop-product-details/{{element.id}}" title=""
      matTooltip="Show product item full details" mat-icon-button><i
          class="material-icons icon-green" style="color: darkcyan;">
          view_headline
      </i>
  </button> -->

      
     

      <button matTooltip="Remove this product from your wishlist"  mat-icon-button
     (click)="deleteProductFromWishlist(element.id)"><i
          class="material-icons icon-green" style="color: darkcyan;">
          delete_forever
      </i>
  </button>
      
      </td>
    </ng-container>

  
  
       <!-- <td mat-cell *matCellDef="let element"> {{element.images.image_url}} </td> -->
     
    
     
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

  </div>
  
  
  
  
  
  </div>

</div>