  
table{
    width: 100%;
}
.table2{
    height: 300px;
  overflow: auto;
}
.dis-card{
    margin-top: 50px;
}
.form-container{
    width: 387;
    height: 420px;
    background-color: white;
    margin-top: 30px;
}
.dis_form{
    margin: 40px 40px 40px 40px;
}
@media only screen and (max-width: 600px) {
    .table2{
        margin-top: 40px;
    }
  }
  .imgtable1{
      max-width: 50px;
      max-height: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  .pricetable1{
      color:red;
  }
  mat-form-field {
    width: 100%;
  }
  .select_field{
      margin-top: 30px;
  }
  mat-option{
      text-transform: capitalize;
  }