<div class=" mainContainer p-3 mb-5 bg-white rounded">
    <div>
  
      <form action="" [formGroup]="form">
        <div>
          <p style="size: 50px;"> {{"Add-new-category"| translate}}  </p>
          <mat-divider style="margin-bottom: 30px;"></mat-divider>
        </div>
        <div class="form-group">
  
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>{{'category_name' | translate}} </mat-label>
            <input matInput formControlName="name" #name [value]="currentcategory.category_name">
          </mat-form-field>
        </div>
  
  
  
        <div class="form-group">
  
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>{{'category_name_(IT)' | translate}} </mat-label>
            <input matInput formControlName="category_it" #category_it [value]="currentcategory.category_it">       
          </mat-form-field>
        </div>
        <div class="form-group">
  
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>{{'category_name_(CN)' | translate}}</mat-label>
            <input matInput formControlName="category_cn" #category_cn [value]="currentcategory.category_cn">
          </mat-form-field>
        </div>
        <div class="form-group">
  
          <mat-form-field appearance="fill" class="form-element">
            <mat-label>{{'category_name_(FR)' | translate}}</mat-label>
            <input matInput formControlName="category_fr" #category_fr [value]="currentcategory.category_fr">
          </mat-form-field>
        </div>
      
        <div class="uploadImage">
          <label id="imageBtn">
            <section class="uploadIconContainer" [ngStyle]="{'background-color': '#46b7d7'}"
              (click)="fileInputImg.click()">
              <mat-icon [ngStyle]="{'color': 'white'}">file_upload</mat-icon>
            </section>
          </label>
          <input class="none" #fileInputImg type="file" (change)="getFileChange($event)" style="display: none;" />
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{'category_image' | translate}}</mat-label>
            <input matInput type="text" #resultInput readonly>
          </mat-form-field>
        </div>

     
        <button mat-raised-button style="background-color: #730E33; margin-right: 10px;" type="submit"
          (click)="onEditCategory(name.value,category_fr.value,category_cn.value,category_it.value)">{{'submit' | translate}}</button>
        <button mat-raised-button style="background-color: #003366;" routerLink="/shop/my-categories">{{'Back' | translate}}</button>
      </form>
    </div>
  </div>