  <!-- === footer === -->
  <footer id="footer" class="footer-area">
    <a href="#" class="back-to-top" style="display: block;"><i class="lni lni-chevron-up"></i></a>
    <div class="footer-shape shape-1"></div>
    <div class="footer-shape shape-2"></div>
    <div class="footer-shape shape-3"></div>
    <div class="footer-shape shape-4"></div>
    <div class="footer-shape shape-5"></div>
    <div class="footer-shape shape-6"></div>
    <div class="footer-shape shape-7"></div>
    <div class="footer-shape shape-8">
    </div>
    <div class="footer-widget pt-30 pb-80">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-about mt-50 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.2s">
              <a class="logo" href="#">
                <img src="assets/images/logosiyou.jpg" alt="Logo">
              </a>
              <p class="text" style="text-align: center;"> <b> Siyou Technology </b>is a company specialized in
                solutions for the new
                e – commerce (B2S2C) which integrates retail sales, online sales, warehouse and logistics.
                <br>
                Siyou has independent branches in <b>Italy</b>, <b>Germany</b> and <b>Tunisia</b>.
                Italy is mainly the first stage of market practices: since July 2019.
                Many stores have already joined us and we are waiting for you.
              </p>
              <ul class="social">
                <li><a href="https://www.facebook.com/siyou.technologyTN">
                    <img src="assets/LineIcons-Package-2.0/SVG/facebook.svg" alt="facebook"></a></li>
                <li><a href="#"><i class="lni lni-twitter"></i></a></li>
                <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                <li><a href="https://fr.linkedin.com/company/siyou-technology"><i class="lni lni-linkedin"></i></a></li>
                <li><a href="#"><i class="lni lni-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-5 col-md-6">
            <div class="footer-link d-flex flex-wrap">
              <div class="footer-link-wrapper mt-45 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.4s">
                <div class="footer-title">
                  <h4 class="title">Quick Links</h4>
                </div>
                <ul class="link">
                  <li><a class="" href="index.html">Home</a></li>
                  <li><a class="" href="#">Our Products</a></li>
                  <li><a class="" href="#">Our Interlocutors</a></li>
                  <li><a class="" href="download.html">Download</a></li>
                  <li><a class="" href="#">Help</a></li>
                </ul>
              </div>
              <div class="footer-link-wrapper mt-45 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.6s">
                <div class="footer-title">
                  <h4 class="title">Adess</h4>
                  <br>
                </div>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2810.5443114721543!2d9.360223615711222!3d45.216555957954206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47872aa09d8c8785%3A0xead100633c9bd388!2sSiyou%20Technology%20Srl!5e0!3m2!1sfr!2stn!4v1610311836559!5m2!1sfr!2stn"
                  width="200" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                  tabindex="0">
                </iframe>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div id="contact" class="footer-contact mt-45 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.8s">
              <div class="footer-title">
                <h4 class="title">Contact Us</h4>
              </div>
              <ul class="contact-list">
                <li>
                  <div class="contact-info d-flex">
                    <div class="info-content media-body">
                      <p class="text"><i class="lni lni-phone"></i> +39 3477245798</p>
                    </div>
                  </div> <!-- contact info -->
                </li>
                <li>
                  <div class="contact-info d-flex">
                    <div class="info-content media-body">
                      <p class="text"><a href="#"><i class="lni lni-envelope"></i>
                          contact@siyoutech.tn
                        </a>
                      </p>
                    </div>
                  </div> <!-- contact info -->
                </li>
                <li>
                  <div class="contact-info d-flex">
                    <div class="info-content media-body">
                      <p class="text"><a href="#"><i class="lni lni-world"></i>
                          https://siyoutechnology.com/
                        </a></p>
                    </div>
                  </div> <!-- contact info -->
                </li>
                <li>
                  <div class="contact-info d-flex">
                    <div class="info-content media-body">
                      <p class="text"><i class="lni lni-map"></i>
                        Vial Evaristo Stefini, 20 MI </p>
                    </div>
                  </div> <!-- contact info -->
                </li>
              </ul> <!-- contact list -->
            </div> <!-- footer contact -->
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright d-sm-flex justify-content-between">
              <div class="copyright-privacy text-center">
                <a href="#">© 2021 SiyouTechnology</a>
              </div> <!-- copyright privacy -->
            </div> <!-- copyright -->
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- footer copyright -->
  </footer>
  <a href="#" class="back-to-top" style="display: block;"><i class="lni lni-chevron-up"></i></a>
