<section class="mainContainer" style="margin-top: 70px; margin-bottom: 70px;">
    <span>Criterias List</span>
    <button color="primary" class="topbuttons" style=" float:right; margin-top: 10px;margin-bottom: 10px;" mat-raised-button
    (click)="openAddCriteriaWithUnits()">+ Add New Criteria
  
  </button>

    <table mat-table [dataSource]="criteriaList" mat-sort class="mat-elevation-z8" multiTemplateDataRows matSort>

        <!-- Order Date Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Criteria Name </th>
            <td mat-cell *matCellDef="let order">{{ order.name}}</td>
        </ng-container>

        <!-- Order Price Column -->
        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef> Date Created </th>
            <td mat-cell *matCellDef="let order"> {{ order.created_at }} </td>
        </ng-container>

        <!-- Supplier Column -->
        <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef> Last Update </th>
            <td mat-cell *matCellDef="let order"> {{ order.updated_at }}
            </td>
        </ng-container>



        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="padding-left: 40px;">Actions</th>
            <td mat-cell style="padding-left: 30px;" *matCellDef="let row">

                <button mat-icon-button title="Show Units">
                    <i class="material-icons icon-green" style="color: darkcyan;">expand_more</i>
                </button>
                <!-- <button  title="Add this Criteria" (click)="openAddCriteriaModal(row)" mat-icon-button ><i class="material-icons icon-green" style="color: darkcyan;">
                    create
                </i>
              </button>                  -->
                <button title="Edit this Criteria" (click)="openEditCriteriaModal(row)" mat-icon-button><i
                        class="material-icons icon-green" style="color: darkcyan;">
                        create
                    </i>
                </button>

                <button title="Delete this Criteria" (click)="openDeleteCriteriaModal(row)" mat-icon-button
                    color="warn"><i class="material-icons">
                        delete_forever
                    </i></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">



            <td mat-cell *matCellDef="let order" [attr.colspan]="orderDisplayedColumns.length">
                <!-- <button mat-raised-button color="primary">Add New Unit</button> -->
               
               

                <div class="example-element-detail"
                    [@detailExpand]="order == expandedElement ? 'expanded' : 'collapsed'">

                    <div class="orderProducts">
                       


                            
                        <table class="mat-elevation-z8">
                            <button style="align-items: right;" title="Add New Criteria Unit" (click)="openAddCriteriaUnit(order)" mat-icon-button
                            color="primary"><i class="material-icons">
                                add_box
                            </i>Add New Criteria Unit</button>



                            <tr>
                                <th style="margin-right: 35px; padding: 10px;">Unit Name</th>
                                <th style="margin-right: 15px; padding: 10px;">Date Created</th>
                                <th style="margin-left: 15px; padding: 10px;">Last Update</th>
                                <th style="margin-left: 15px; padding: 10px;">Actions</th>

                            </tr>

                            <tr *ngFor="let unit of order.criteria_unit">
                                <td style="margin-right: 15px; padding: 10px;">{{unit.unit_name}}</td>
                                <td style="margin-right: 15px; padding: 10px;">{{unit.created_at}}</td>
                                <td style="margin-left: 15px; padding: 10px;">{{unit.updated_at}}</td>
                                <td style="margin-left: 15px; padding: 10px;">

                                    <button title="Edit this Unit" (click)="openEditUnitModal(unit)" mat-icon-button><i
                                            class="material-icons icon-green" style="color: darkcyan;">
                                            create
                                        </i>
                                    </button>

                                    <button title="Delete this Unit" (click)="openDeleteUnitModal(unit)"
                                        mat-icon-button color="warn"><i class="material-icons">
                                            delete_forever
                                        </i></button>

                                </td>

                            </tr>
                        </table>


                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="orderDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let order; columns: orderDisplayedColumns;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === order"
            (click)="expandedElement = expandedElement === order ? null : order"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
</section>