$primary-color: (
  50: #eaebee,
  100: #c9ced6,
  200: #a6adba,
  300: #828c9e,
  400: #67738a,
  500: #4c5a75,
  600: #45526d,
  700: #3c4862,
  800: #333f58,
  900: #242e45,
  A100: #8caeff,
  A200: #5989ff,
  A400: #2665ff,
  A700: #0d53ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
