$primary-color: (
  50: #e6e7e8,
  100: #c1c3c6,
  200: #989ca1,
  300: #6e747b,
  400: #4f565e,
  500: #303842,
  600: #2b323c,
  700: #242b33,
  800: #1e242b,
  900: #13171d,
  A100: #639dff,
  A200: #307dff,
  A400: #005efc,
  A700: #0055e2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);
