$primary-color: (
  50: #edf1f6,
  100: #d3dbe9,
  200: #b5c4da,
  300: #97accb,
  400: #819ac0,
  500: #6b88b5,
  600: #6380ae,
  700: #5875a5,
  800: #4e6b9d,
  900: #3c588d,
  A100: #dfe9ff,
  A200: #acc7ff,
  A400: #79a5ff,
  A700: #5f94ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
