<!-- <form>
    <h3>Add A New Brand:</h3>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Brand Name:</mat-label>
            <input matInput placeholder="Enter Brand Name" #brand_name>
            
        </mat-form-field>
    </p>
    <p>
        <label>Brand logo: </label>
        <button type="button" mat-raised-button (click)="fileInput.click()"> Choose File</button>
        <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" #brand_logo>
    </p>
    <p style="margin-top: 40px;">
        <button style="margin-right: 10px;" type="submit" mat-raised-button mat-button color="primary" (click)="onAddNewBrand(brand_name.value, brand_logo.value)">Submit</button>
        <button mat-dialog-close mat-raised-button mat-button color="link">Close</button>
    </p>
</form> -->



<form action="" [formGroup]="form" novalidate>
    <h3>Add A New Brand:</h3>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Brand Name:</mat-label>
            <input matInput placeholder="Enter Brand Name" formControlName="brand_name">
            
        </mat-form-field>
    </p>
   


    <div class="uploadImage">
        <label id="imageBtn">
            <!-- <button mat-mini-fab color="primary" (click)="fileInput.click()"> -->
            <section class="uploadIconContainer" [ngStyle]="{'background-color': '#46b7d7'}" (click)="fileInput.click()">
                <mat-icon [ngStyle]="{'color': 'white'}">file_upload</mat-icon>
            </section>
            <!-- </button> -->
        </label>
        <input class="none" #fileInput type="file" name="brand_logo" (change)="getFileChange($event)"
            style="display: none;" />
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Product Image</mat-label>
            <input matInput type="text" #resultInput readonly>
        </mat-form-field>
    </div>


    <p style="margin-top: 40px;">
        <button style="margin-right: 10px;" type="submit" mat-raised-button mat-button color="primary" (click)="onSubmit()">Submit</button>
        <button mat-dialog-close mat-raised-button mat-button color="link">Close</button>
    </p>
</form>