<div class="rounded bgc">
    <div>
        <form>

            <mat-form-field appearance="standard" style="width :  15% ; margin-right:2% ;">
                <mat-label>{{'Select-Chain'| translate}}</mat-label>
                <mat-select #chain_id>

                    <mat-option value=0>None</mat-option>
                    <mat-option *ngFor="let chain of chainData" [value]="chain.id">{{chain.chain_name}}
                    </mat-option>


                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="standard" style="width :  15% ; margin-right:2% ;">
                <mat-label>{{'Choose-Category' | translate}} </mat-label>
                <mat-select #category_id>
                    <input matInput style="padding: 8px 8px 8px 8px;" type="text" (keyup)="applyFilter($event.target.value)">
                    <mat-option value="66">No Category</mat-option>
                    <!-- <mat-optgroup *ngFor="let category of catList" [label]="category.category_name" class="opt"
                        style="color:blue"> -->
                        <mat-option *ngFor="let subcat of catList" [value]="subcat.id">
                            
                            <p *ngIf="translate.currentLang === 'English'">{{subcat.category_name }}</p> 
                            <p *ngIf="translate.currentLang === 'Chinese'">{{subcat.category_cn }}</p> 
                            <p *ngIf="translate.currentLang === 'Italian'">{{subcat.category_it }}</p> 
                            <p *ngIf="translate.currentLang === 'Français'">{{subcat.category_fr }}</p> 
                        </mat-option>
                    <!-- </mat-optgroup> -->
                </mat-select>
            </mat-form-field>


            <!-- <mat-form-field appearance="standard" style="width :  15% ; margin-right:2% ;">
                <input matInput [placeholder]="'Search-bykeyword'| translate" #keyword>
            </mat-form-field> -->

            <mat-form-field appearance="standard" style="width :  15% ; margin-right:2% ;">
                <mat-label>{{'Supplier' | translate}}</mat-label>
                <mat-select #supplier_id>
                    <input matInput style="padding: 8px 8px 8px 8px;" type="search" #supp (input)="onSearchChange($event.target.value)">
                    <mat-option *ngFor="let supp of suppliers" [value]="supp.id"> {{supp.supplier_name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard" style="width :  15% ; margin-right:2% ;">
                <input matInput [placeholder]="'Search-bybarcode'| translate" #barcode>
            </mat-form-field>
            <mat-form-field appearance="standard" style="width :  15% ; margin-right:2% ;">
                <input matInput [placeholder]="'search-by-Goods-shelf'| translate" #range_id>
            </mat-form-field>


            <button mat-raised-button style="width :  15%;background-color: #003366;"
                (click)="onGetProdsListS2C(1,chain_id.value, category_id.value,barcode.value,supplier_id.value,range_id.value);setPageFilter(1,chain_id.value, category_id.value,barcode.value,supplier_id.value,range_id.value);">
                <i class="fa fa-search" aria-hidden="true"></i>

                {{'Filter' | translate}}</button>

        </form>
    </div>
    <div class="scrollTable">
        <table mat-table [dataSource]="dataSource" class="table1" matSort>


            <ng-container matColumnDef="range_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'goods-shelf-No.'| translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.range_id }} </td>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="product_image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Image'| translate}}</th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.images.image_url}} </td> -->
                <td mat-cell *matCellDef="let element">

                    <img [src]="element.img_url" alt="" class="imgtable1">

                </td>
            </ng-container>

            <!-- Name Column -->


            <ng-container matColumnDef="product_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Product-Name'| translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.product_name | slice:0:10}}... </td>
            </ng-container>



            <!-- Weight Column -->
            <ng-container matColumnDef="product_barcode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Barcode'| translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.product_barcode}} </td>
            </ng-container>
            <ng-container matColumnDef="supplier">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Supplier'| translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.supplier.supplier_name| slice:0:7}}.. </td>
                <!-- {{element.suppliers.supplier_name}}  -->
            </ng-container>
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef [resizeColumn]="true"> {{'Category'| translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <p *ngIf="element.category">{{element.category.category_name}}</p>
                    <p *ngIf="!element.category">--</p>
            
                </td>
            </ng-container>


            <!-- <td mat-cell *matCellDef="let element"> {{element.images.image_url}} </td> -->
            <ng-container matColumnDef="unit_price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Unit-Price'| translate}} </th>
                <td mat-cell *matCellDef="let element" >


                    {{element.unit_price |currency}}


                </td>
            </ng-container>
            <ng-container matColumnDef="cost_price" *ngIf="cost_price == '0'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Cost-Price'| translate}} </th>
                <td mat-cell *matCellDef="let element" >


                    {{element.cost_price |currency}}


                </td>
            </ng-container>

            <!-- <td mat-cell *matCellDef="let element"> {{element.images.image_url}} </td> -->


            <!-- <td mat-cell *matCellDef="let element"> {{element.images.image_url}} </td> -->
            <ng-container matColumnDef="product_quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Product-quantity'| translate}} </th>
                <td mat-cell *matCellDef="let element">
                  <p style="color:red">  {{element.product_quantity}}</p>


                </td>
            </ng-container>
            <ng-container matColumnDef="warn_quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'warn_quant'| translate}}</th>
                <td mat-cell *matCellDef="let element" >
                   <p style="color:red">{{element.warn_quantity}}</p> 


                </td>
            </ng-container>
            <ng-container matColumnDef="expired_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Expired Date</th>
                <td mat-cell *matCellDef="let element">
                    {{element.expired_date}}


                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Actions'| translate}} </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button routerLink="/shop/edit-product/{{element.id}}" *ngIf="cost_price == '0'"><i
                            class="material-icons icon-green" style="color: #303842">edit
                        </i>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>


        </table>
        <br />
    </div>
    <br />
    <div>
        <nav aria-label="Page navigation example" *ngIf="!filtred">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center pagination-sm">
                <li class="page-item " [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(1)">First</a>
                </li>
                <li class="page-item " [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li class="page-item active" *ngFor="let page of pager.pages"
                    [ngClass]="{active:pager.currentPage === page}">
                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                </li>
                <li class="page-item " [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li class="page-item " [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </nav>
        <nav aria-label="Page navigation example" *ngIf="filtred">
            <ul *ngIf="pager2.pages && pager2.pages.length" class="pagination justify-content-center pagination-sm">
                <li class="page-item " [ngClass]="{disabled:pager2.currentPage === 1}">
                    <a class="page-link"
                        (click)="setPageFilter(1,chain_id.value, category_id.value,barcode.value,supplier_id.value,range_id.value)">First</a>
                </li>
                <li class="page-item " [ngClass]="{disabled:pager2.currentPage === 1}">
                    <a class="page-link"
                        (click)="setPageFilter(pager2.currentPage - 1,chain_id.value, category_id.value,barcode.value,supplier_id.value,range_id.value);onGetProdsListS2C(page,chain_id.value, category_id.value,barcode.value,supplier_id.value,range_id.value)">Previous</a>
                </li>
                <li class="page-item active" *ngFor="let page of pager2.pages"
                    [ngClass]="{active:pager2.currentPage === page}">
                    <a class="page-link"
                        (click)="setPageFilter(page,chain_id.value, category_id.value,barcode.value,supplier_id.value,range_id.value);onGetProdsListS2C(page,chain_id.value, category_id.value,barcode.value,supplier_id.value,range_id.value)">{{page}}</a>
                </li>
                <li class="page-item " [ngClass]="{disabled:pager2.currentPage === pager2.totalPages}">
                    <a class="page-link"
                        (click)="setPageFilter(pager2.currentPage + 1,chain_id.value, category_id.value,barcode.value,supplier_id.value,range_id.value);onGetProdsListS2C(page,chain_id.value, category_id.value,barcode.value,supplier_id.value,range_id.value)">Next</a>
                </li>
                <li class="page-item " [ngClass]="{disabled:pager2.currentPage === pager2.totalPages}">
                    <a class="page-link"
                        (click)="setPageFilter(pager2.totalPages,chain_id.value, category_id.value,barcode.value,supplier_id.value,range_id.value);onGetProdsListS2C(page,chain_id.value, category_id.value,barcode.value,supplier_id.value,range_id.value)">Last</a>
                </li>
            </ul>
        </nav>
    </div>

</div>