<div class="container shadow-lg p-3 mb bg-white rounded main_container">
    <h4 class="font-weight-bold mb-4 ">{{'Supplier-Information' | translate}}
      </h4> 
   

<!-- <mat-divider></mat-divider> -->
<div>

    <div class="my-2">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row p-5">
                            <div class="col-md-9">
                                <p class="mb-1 text-capitalize "> <span
                                        class="border-0 text-uppercase small font-weight-bold">{{'Responsable-Name' | translate}}  :
                                    </span><span>{{suppliersData.supplier_name}} </span> </p>
                                <p class="mb-1 text-capitalize "> <span
                                        class="border-0 text-uppercase small font-weight-bold">{{'COMPANY NAME'|translate}} :
                                    </span><span>{{suppliersData.company_name}} </span> </p>
                                <p class="mb-1 text-capitalize "> <span
                                        class="border-0 text-uppercase small font-weight-bold">{{'Description' | translate}} :
                                    </span><span>{{suppliersData.description}} </span> </p>
                                <p class="mb-1 text-capitalize "> <span
                                        class="border-0 text-uppercase small font-weight-bold">  {{'Email' | translate}} :
                                    </span><span>{{suppliersData.email}} </span> </p>
                                <p class="mb-1 text-capitalize "> <span
                                        class="border-0 text-uppercase small font-weight-bold"> {{'WEBSITE'|translate}}:
                                    </span><span>{{suppliersData.website}} </span> </p>
                                <p class="mb-1 text-capitalize "> <span
                                        class="border-0 text-uppercase small font-weight-bold">{{'Address' | translate}}:
                                    </span><span>{{suppliersData.adress}} </span> </p>
                                    <p class="mb-1 text-capitalize "> <span
                                        class="border-0 text-uppercase small font-weight-bold">{{'Phone-Number' | translate}}:
                                    </span><span>{{suppliersData.contact}} </span> </p>
                                    <p class="mb-1 text-capitalize "> <span
                                        class="border-0 text-uppercase small font-weight-bold">{{'City' | translate}}:
                                    </span><span>{{suppliersData.city}} </span> </p>
                                    
            
                            </div>
                        </div>
                           
                    </div>
                </div>
            </div>


        </div>










    </div>




</div>