
	
	
	 <app-header></app-header>
	 <!-- <app-about></app-about> -->
	 <app-download></app-download>
	<app-footer></app-footer>

















<!-- ==== backup ==== -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<a class="navbar-brand" href="#">
			<img src="../../../../../assets/images/siyou.png" width="200px" height="50px"
				class="d-inline-block align-top" alt="" loading="lazy">
		</a></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="login">
					<i class="fa fa-fw fa-search"></i> SELECT YOUR COUNTRY
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/login"><i class="fa fa-fw fa-user"></i>LOG IN <span
						class="sr-only">(current)</span></a>
			</li>
		</ul>

	</div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(184,33,39,1);color:white;">
	<a class="navbar-brand" href="#">
		<a class="navbar-brand" style="white-space: nowrap;
        text-align: left;
        font-family: Brush Script MT;
        font-style: italic;
        font-weight: normal;
        font-size: 30px;
        color: rgba(255,255,255,1);">
			The Day of Life Starts from Here
		</a></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item bg">
				<a class="nav-link" style="color: white;">
					Home
				</a>
			</li>
			<li class="nav-item bg">
				<a class="nav-link" style="color: white;">
					Products
				</a>
			</li>
			<li class="nav-item bg">
				<a class="nav-link" style="color: white;">
					Our Interlocutors
				</a>
			</li>
			<li class="nav-item bg">
				<a class="nav-link" style="color: white;">
					Download
				</a>
			</li>
			<li class="nav-item bg">
				<a class="nav-link" style="color: white;">
					Help
				</a>
			</li>
			<li class="nav-item bg">
				<a class="nav-link" style="color: white;">
					Contact Us
				</a>
			</li>

		</ul>

	</div>
</nav>

<div class="first_slider">
	<img src="../../../../../assets/images/ID4.png">


</div>


<div class="row">
	<div class="col-sm-6">
		<div class="container">
			<span class="titleee"> UPDATE NOTIFICATION</span>
			<div class="row">
				<div class="col-sm-6">
					<img src="../../../../../assets/images/New_Siyou_Store_Eng.png" id="New_Siyou_Store_Eng">
				</div>
				<div class="col-sm-6">
					<p style="font-style: bold;margin: 2%;"> New Version is Coming
					</p>
				</div>
			</div>
			<p style="font-style: bold;margin: 2%;">The version 1.8 has released <span
					style="font-style: bold;color: gray;">2020 - 12 - 1</span></p>
			<hr style=" border: 1px solid rgba(112,112,112,1);">
			<p style="font-style: bold;margin: 2%;">The version 1.7 has released <span
					style="font-style: bold;color: gray;">2020 - 11 - 1</span></p>
			<hr style=" border: 1px solid rgba(112,112,112,1);">
			<p style="font-style: bold;margin: 2%;">The version 1.6 has released <span
					style="font-style: bold;color: gray;">2020 - 10 - 1</span></p>
			<hr style=" border: 1px solid rgba(112,112,112,1);">
			<p style="font-style: bold;margin: 2%;">The version 1.5 has released <span
					style="font-style: bold;color: gray;">2020 - 09 - 1</span></p>
			<hr style=" border: 1px solid rgba(112,112,112,1);">
		</div>
	</div>
	<div class="col-sm-6">
		<div class="container">
			<span class="titleee"> NEW</span>
			<div class="row">

				<div class="col-sm-6">

					<img src="../../../../../assets/images/cash-example.png" id="cash-example" alt="">
				</div>
				<div class="col-sm-6">
					<p style="font-style: bold;margin: 2%;">New Cash Register would be a our weapon to our company</p>
				</div>
			</div>
			<p style="font-style: bold;margin: 2%;">Cash Register Software and Android and Windows… <span
					style="font-style: bold;color: gray;">2020 - 12 - 1</span></p>
			<hr style=" border: 1px solid rgba(112,112,112,1); ">
			<p style="font-style: bold;margin: 2%;">WEB Retail Management <span
					style="font-style: bold;color: gray;">2020 -
					11 - 1</span></p>
			<hr style=" border: 1px solid rgba(112,112,112,1);">
			<p style="font-style: bold;margin: 2%;">Mobile Retail Application <span
					style="font-style: bold;color: gray;">2020 - 10 - 1</span></p>
			<hr style=" border: 1px solid rgba(112,112,112,1);">
			<p style="font-style: bold;margin: 2%;">B2B Chat Application <span
					style="font-style: bold;color: gray;">2020 -
					09 - 1</span></p>
			<hr style=" border: 1px solid rgba(112,112,112,1);">




		</div>
	</div>
</div>


<div class="third_div">
	<span style="font-size: 60px;text-align: center;margin : 2%;">Who We Want to Be</span>
	<br />
	<span style="font-size: 40px;text-align: center; color:rgba(153,153,153,1);margin : 2%;">The areas of our service
		would to
		arrive</span>
	<img src="../../../../../assets/images/firstslide.png">
	<br />
	<img src="../../../../../assets/images/secondslide.png">

</div>
<div class="center">
	<button class="buttsubmit">KNOW MORE ABOUT US</button>

</div>


<div class="last_slide">
	<div class="row">
		<div class="col-md-6">
			<img src="../../../../../assets/images/logo - copy.png" id="logo" alt="">
		</div>
		<div class="col-md-6">
			<p style="font-family: Helvetica;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			color: rgb(97, 84, 84);
			margin-top: 5%;
			margin-bottom: 5%;
			margin-left: 5%;
			margin-right: 5%;">
				Siyou Technology is a company specialized in solutions
				for the new e – commerce (B2S2C) which integrates retail
				sales, online sales, warehouse and logistics.
				<br /><br />
				Siyou has independent branches in Italy, Germany and
				Tunisia. Italy is mainly the first stage of market practices
				since July 2019. Many stores have already joined us and
				we are waiting for you.
			</p>
		</div>
	</div>
</div>

<footer class="footer-distributed">

	<div class="footer-left">

		<h2 style="color: white;">SIYOU TECHNOLOGY </h2>

		<p class="footer-links">
			Siyou Technology products and services for the automation of points of sale,
			retail businesses organised distribution, franchised store chains and
			public businesses.
		</p>

	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p>Vial Evaristo Stefini, 20 MI</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+39 3477245798</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:siyoutechnology.milano@gmail.com">siyoutechnology.milano@gmail.com</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>About the company</span>
			Siyou Technology products and services for the automation of points of sale,
			retail businesses organised distribution, franchised store chains and
			public businesses.

		</p>

		<div class="footer-icons">

			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>

		</div>

	</div>

</footer> 