  <!-- === Download ==== -->
  <section id="download" class="download-area pt-70 pb-40">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 col-md-9">
          <div class="download-image mt-50 wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <img class="image" src="assets/images/mobil-photo.png" alt="download">
            <div class="download-shape-1">

            </div>
            <div class="download-shape-2">
              <img class="svg" src="assets/images/download-shape.svg" alt="shape">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="download-content mt-45 wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
            <h3 class="download-title">Mobile Retail Application</h3>
            <br>
            <h4 style="color: black;">Download and Start Using ! </h4>
            <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis error non nisi sunt
              aliquid officia
              doloremque voluptas numquam repudiandae sequi ipsum, nobis eum adipisci,
              exercitationem neque asperiores, quisquam optio quidem?</p>
            <ul>
              <li><a class="app-store" href="#"><img src="assets/images/app-store.png" alt="store"></a></li>
              <li><a class="play-store" href="#"><img src="assets/images/play-store.png" alt="store"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
