.example-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .example-toolbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    display: grid;
    position: fixed;
    z-index: 2;
    span {
      flex: 1;
    }
    .actionsContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      mat-icon {
        &.toolbarIcons {
          font-size: 32px;
        }
        margin: 0px 10px 0px 10px;
        cursor: pointer;
      }
    }
  }
  h1.example-app-name {
    margin-left: 8px;
  }
  mat-sidenav-container {
    flex: 1;
    mat-sidenav {
      display: flex;
      flex-direction: column;
      width: 256px;
      .logoContainer {
        height: 110px;
        padding: 10px;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: center;
        mat-icon {
          color: white;
          width: unset;
          height: unset;
        }
      }
      display: flex;
      flex-direction: column;
      mat-nav-list {
        padding-top: 15px;
        flex: 1;
        a {
          display: flex;
          flex-direction: row;
          mat-icon {
            color: white;
            margin-right: 15px;
          }
          &.mat-list-item {
            .mat-list-item-content {
              width: 100%;
            }
          }
          span {
            color: white;
          }
        }
      }
    }
    mat-sidenav-content {
      background-color: #eee;
      height: 100%;
      mat-toolbar {
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
        &.mat-toolbar {
          display: flex;
          flex-direction: row;
          background-color: #eee;
          span {
            flex: 1;
          }
        }
      }
      mat-menu {
        &.mat-menu-panel {
          width: 1200px;
          max-width: 500px;
          max-height: 250px;
        }
      }
    }
  }
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  }
  app-menu-list-item {
    .mat-list-item-content {
      width: 100%;
    }
  }
  i:hover {
    cursor: pointer;
  }
  .shoptitle {
    color: white;
  }
  popper-content {
    overflow: hidden;
    div {
      background-color: white;
      &.ngxp__inner.ng-star-inserted {
        display: flex;
        flex-direction: column;
      }
      &.ngxp__arrow {
        background-color: unset;
      }
    }
  }
  #cdk-overlay-1 {
    .mat-menu-panel {
      max-width: 500px;
      max-height: 350px;
    }
  }
  