  
.mainContainer {
    padding: 10px;
    padding-top: 56px;
    .mat-raised-button{
      padding: 12px 12px 12px 12px ;
      color : white;
    }
    span {
      font-family: Roboto;
      font-weight: 500;
      font-size: 20px;
    }
    table {
      width: 100%;
      margin-top: 15px;
      td {
        max-width: 250px;
        overflow-wrap: break-word;
        white-space: normal;
        mat-icon {
          cursor: pointer;
        }
      }
      .actionsContainer {
        flex-direction: row;
        justify-content: space-evenly;
      }
      tr.example-detail-row {
        height: 0;
      }
      tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
      }
      .example-element-row td {
        border-bottom-width: 0;
      }
      .example-element-detail {
        overflow: hidden;
        display: flex;
      }
      .example-element-diagram {
        min-width: 80px;
        border: 2px solid black;
        padding: 8px;
        font-weight: lighter;
        margin: 8px 0;
        height: 104px;
      }
      .example-element-symbol {
        font-weight: bold;
        font-size: 40px;
        line-height: normal;
      }
      .example-element-description {
        padding: 16px;
      }
      .example-element-description-attribution {
        opacity: 0.5;
      }
      .orderProducts {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        mat-card {
          width: 200px;
          height: 250px;
          margin: 5px;
          display: flex;
          flex-direction: column;
          .product_name {
            margin-top: 5px;
            font-family: Roboto;
            font-weight: 500;
          }
          .productData {
            margin-top: auto;
            .quantity {
              justify-content: flex-end;
            }
            .price {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
  .item-img{
      max-width: 50px;
      max-height: 50px;
  }
  body{
    margin-top:20px;
    background:#FAFAFA;
}
.order-card {
    color: #fff;
}
.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}
.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}
.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}
.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card .card-block {
    padding: 25px;
}
.order-card i {
    font-size: 26px;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
  